<div class="space-y-2">
    <label  
        for="priceRange"
        class="text-sm font-medium flex items-center gap-2">
            <app-custom-icon [iconName]="AppIcon.ProductPrice"/>
            <span>{{ label() }}</span>    
    </label>

    <div class="grid grid-cols-2 gap-2">  
        <input 
            type="number" 
            placeholder="Min."
            class="input-base"
            (input)="onMinChange($event)"
        >
        <input 
            type="number" 
            placeholder="Máx."
            class="input-base"
            (input)="onMaxChange($event)"
        >
    </div>
</div>