:root {
    --color-primary: #252525;
    --color-primary-light: #4b5563;
    --color-primary-dark: #1f2a34;
  
    --color-secondary: #F7F7F7;
    --color-secondary-dark: #e8e8e8;

    --color-borders: #B5B5B5;

    --color-success: #4caf50;
    --color-warning: #ff9800;
    --color-danger: #E74C3C;
    
}
  